@CHARSET "UTF-8";

.global-content {
	padding:30px;
}
.password-wrapper {
	margin:auto;
	padding:0;
	height:400px;
	background:#fff;
}
.password-form {
	padding-top:100px;
	display:block;
	text-align:center;
	color:#b7b7b7;
}
.password-input-out {
	margin:auto;
	width:400px;
	margin-bottom:10px;
	color:#5a5a5a;
}
.password-input {
	width:400px;
	height:40px;
	line-height:40px;
	font-size:16px;
	background:#fff;
	border:1px solid #d3d3d3;
	color:#b7b7b7;
}
.password-checkbox {
	border:1px solid #d3d3d3;
}
.password-button {
	width:240px;
	height:40px;
	line-height:40px;
	font-size:20px;
	color:#fff;
	background:#65c1ba;
	border:none;
}
.password-message {
	font-size:16px;
	color:#5a5a5a;
}